@import "../../node_modules/bootstrap/scss/bootstrap";
@import 'animate';
@import 'slick';
@import 'slick-theme';
@import 'fonts';
@import 'reset';
@import 'base';
@import 'transition';
@import 'global';
@import 'preloader';

@import 'sections/header';

.main-section {
	background-image: url(../../../resources/img/banner-bg.png);
	background-repeat: no-repeat;
	position: relative;
	background-position: top right;
	.elements-bg {
		position: absolute;
		top: 0;
		right: 0;
		width: 536px;
		height: 596px;
		background-image: url(../../../resources/img/elements.png);
		background-repeat: no-repeat;
		background-position: top right;
	}
	.main-title {
		color: #f37335;
		font-size: 182px;
		font-weight: 600;
		position: absolute;
		bottom: 20%;
		left: -30px;
		opacity: 0.10;
		z-index: -1;
	}
}

.main-banner {
	padding: 64px 0;
	.banner-text {
		> h2 {
			color: #2b2b2b;
			font-size: 65.03px;
			line-height: 81.29px;
			font-weight: 600;
			margin-bottom: 26px;
			padding-right: 20px;
			span {
				display: inline-block;
				color: #f37335;
				position: relative;
				&:hover {
					&:before {
						opacity: 1;
						visibility: visible;
						width: 100%;
					}
				}
				&:before {
					content: '';
					position: absolute;
					bottom: -4px;
					left: 0;
					width: 100%;
					height: 2px;
					background-color: #f37335;
					opacity: 1;
					visibility: visible;
					@include transition(all 0.4s ease-in-out);
				}
			}
		}
		p {
			color: #575757;
			font-size: 14.23px;
			line-height: 22.35px;
			max-width: 575px;
			margin-bottom: 59px;
		}
		.search-form {
			max-width: 475px;
			position: relative;
			z-index: 1;
			&:before {
				content: '';
				position: absolute;
				top: -22px;
				right: -16px;
				width: 94px;
				height: 94px;
				background-image: url(../../../resources/img/circle1.png);
				background-repeat: no-repeat;
				z-index: -1;
			}
			&:after {
				content: '';
			    position: absolute;
			    top: -27px;
			    left: 25px;
			    width: 60px;
			    height: 60px;
			    background-image: url(../../../resources/img/circle.png);
			    background-repeat: no-repeat;
			    z-index: -1;
			}
			input {
				width: 100%;
				height: 50px;
				color: #575757;
				font-size: 14.23px;
				padding: 0 20px;
				border: 2px solid #f6f4f4;
				border-radius: 30px;
			}
			button {
				position: absolute;
				top: 50%;
				padding: 0;
				right: 20px;
				border: 0;
				color: #155799;
				background-color: inherit;
				@include transform(translateY(-50%));
				@include transition(all 0.4s ease-in-out);
				&:hover {
					color: #F37335;
				}
			}
		}
	}
}


// SECTION TITLE

.section-title {
	margin-bottom: 43px;
	> h2 {
		color: #2b2b2b;
		font-size: 48.77px;
		margin-bottom: 15px;
		font-weight: 700;
		margin-bottom: 7px;
		> span {
			color: #f37335;
		}
	}
	p {
		color: #575757;
		font-size: 14.23px;
		line-height: 22.35px;
		max-width: 430px;
		margin: 0 auto;
	}
}

// ABOUT SECTION


.about-us-section {
	padding: 124px 0 100px;
	.about-sec {
		margin-bottom: 65px;
		.abt-col {
			background-color: #fff;
			box-shadow: 0 0 10px rgba(21,87,153,0.08);
			padding: 25px 20px 19px;
			border-radius: 10px;
			@include transition(all 0.4s ease-in-out);
			&:hover {
				box-shadow: 0 0 20px rgba(21,87,153,.09);
			}
			> img {
				margin-bottom: 9px;
			}
			> h3 {
				color: #2b2b2b;
				font-size: 18.29px;
				font-weight: 500;
				text-transform: capitalize;
				margin-bottom: 3px;
			}
			p {
				color: #575757;
				font-size: 13.5px;
				line-height: 22.35px;
			}
		}
	}
	.abt-img  {
		background-image: url(../../../resources/img/abt-bg.png);
		background-repeat: no-repeat;
		background-position: center;
		> img {
			max-width: 100%;
		}
	}
}


//  SEC TITLE

.sec-title {
	margin-bottom: 42px;
	> h2 {
		color: #2b2b2b;
		font-size: 48.77px;
		font-weight: 700;
		text-transform: capitalize;
		margin-bottom: 7px;
		position: relative;
		z-index: 1;
		&:before {
			content: '';
			position: absolute;
			top: -40px;
			left: -70px;
			width: 114px;
			height: 108px;
			background-image: url(../../../resources/img/sec-bg.png);
			background-repeat: no-repeat;
			z-index: -1;
		}
		&.no-bg {
			&:before {
				display: none;
			}
		}
	}
	p {
		max-width: 530px;
	}
}




//  CLASSES SECTION


.classes-section {
	padding-bottom: 100px;
	.classes-col {
		.class-thumb {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 4px;
				background-color: #1161a0;
			}
			> img {
				border-radius: 10px 10px 0 0;
				min-height: 180px;
				object-fit: cover;
			}
			.crt-btn {
				position: absolute;
				bottom: -19px;
				right: 20px;
				width: 42px;
				height: 42px;
				line-height: 42px;
				border-radius: 100px;
				background:linear-gradient(to bottom, #fdc830, #f37335);
				text-align: center;
			}
		}
		.class-info {
			padding: 24px 15px 27px;
			border:1px solid #d6d6d6;
			border-top: 0;
			border-radius: 0 0 10px 10px;
			> h3 {
				color: #2b2b2b;
				font-size: 18px;
				line-height: 24px;
				font-weight: 600;
				margin-bottom: 13px;
			}
			> span {
				display: inline-block;
				color: #575757;
				font-size: 14.23px;
				margin-bottom: 21px;
			}
			.posted-by {
				> img {
					border-radius: 100px;
					display: inline-block;
				}
				a {
					display: inline-block;
					color: #575757;
					font-size: 14.23px;
					padding-left: 7px;
					font-weight: 600;
				}
			}
			.price {
				margin-left: auto;
				color: #155799;
				font-size: 18.29px;
				font-weight: 700;
				font-family: $secondary-font;
			}
		}
	}
}


//  TEACHERS SECTION

.teachers-section {
	padding: 45px 0 138px;
	.section-title {
		> h2 {
			line-height: 58.93px;
			margin-bottom: 16px;
		}
		p {
			max-width: 580px;
		}
	}
	.teachers {
		.teacher {
			.teacher-img {
				margin-bottom: 13px;
				position: relative;
				> img {
					border-radius: 25px;
				}
				.sc-div {
					position: absolute;
					bottom: -20px;
					right: 20px;
					width: 40px;
					background:linear-gradient(to bottom, #fdc830, #f37335);
					z-index: 99;
					text-align: center;
					border-radius: 30px;
					padding: 8px 0 11px;
					&:hover {
						ul {
							display: block;
						}
					}
					ul {
						margin-bottom: 14px;
						display: none;
						li {
							display: block;
							margin-bottom: 6px;
							&:last-child {
								margin-bottom: 0;
							}
							a {
								color: #fff;
								font-size: 14px;
							}
						}
					}
					> span {
						display: inline-block;
						cursor: pointer;
					}
				}
			}
			.teacher-info {
				padding: 0 20px;
				> h3 {
					color: #2b2b2b;
					font-size: 18.29px;
					font-weight: 500;
					text-transform: capitalize;
					margin-bottom: 1px;
				}
				> span {
					display: block;
					color: #155799;
					font-size: 14.23px;
					font-weight: 600;
				}
			}
		}
	}
}



//  COURSES SECTION

.course-section {
	padding-bottom: 138px;
	.find-course {
		.sec-title {
			h2 {
				&:before {
					display: none;
				}
			}
			p {
				margin-bottom: 22px;
			}
			> h3 {
				font-size: 20.32px;
				color: #155799;
				font-weight: 500;
				img {
					margin-right: 9px;
				}
				> strong {
					font-weight: 700;
				}
			}
		}
		.course-img {
			background-image: url(../../../resources/img/abt-element.png);
			background-repeat: no-repeat;
			background-position: center;
			> img {
				max-width: 100%;
			}
		}
	}
	.courses-list {
		margin-top: 63px;
		.course-card {
			background-color: #fff;
			box-shadow: 0 0 10px rgba(21,87,153,0.08);
			padding: 28px 28px 30px;
			border-radius: 25px;
			position: relative;
			margin-bottom: 20px;
			overflow: hidden;
			&:nth-child(2) {
				left: -100px;
			}
			&:before {
				content: '';
				position: absolute;
				top: 6px;
				left: -1px;
				width: 7px;
				height: 166px;
				background-image: url(../../../resources/img/shape3.png);
				background-repeat: no-repeat;
			}
			.course-meta {
				li {
					display: inline-block;
					color: #575757;
					font-size: 14.23px;
					margin-right: 11px;
					img {
						margin-right: 7px;
					}
					&:last-child {
						margin-right: 0;
					}
				}
				& + span {
					display: inline-block;
					color: #155799;
					font-size: 18px;
					margin-left: auto;
					font-weight: 700;
				}
			}
			> h3 {
				color: #2b2b2b;
				font-size: 22px;
				text-transform: capitalize;
				font-weight: 500;
				margin-top: 18px;
				margin-bottom: 21px;
			}
			.posted-by {
				> img {
					margin-right: 7px;
					border-radius: 100px;
				}
				> a {
					display: inline-block;
					color: #575757;
					font-size: 14.23px;
					text-transform: capitalize;
					font-weight: 500;
				}
			}
			.locat {
				margin-left: auto;
				display: inline-block;
				color: #575757;
				font-size: 14.23px;
				img {
					margin-right: 12px;
				}
			}
		}
	}
	.all-btn {
		float: right;
		display: inline-block;
		color: #155799;
		font-size: 14.23px;
		font-weight: 600;
		margin-top: 20px;
		text-transform: uppercase;
		i {
			padding-left: 13px;
		}
	}
}


//  BLOG SECTION

.blog-section {
	padding-bottom: 146px;
	.section-title {
		p {
			max-width: 550px;
		}
	}
	.blog-posts {
		.blog-post {
			&.without-thumb {
				&:hover {
					.blog-thumbnail {
						&:before {
							display: none;
						}
					}
				}
			}
			.blog-thumbnail {
				position: relative;
				margin-bottom: 20px;
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0,0,0,0.30);
					border-radius: 20px;
					opacity: 0;
					visibility: hidden;
					@include transition(all 0.4s ease-in-out);
				}
				> img,
				> a img {
					border-radius: 20px;
				}
				.category {
					position: absolute;
					bottom: -12px;
					left: 20px;
					padding: 0 20px;
					color: #2b2b2b;
					font-size: 14.23px;
					height: 24px;
					line-height: 24px;
					background-color: #ffd31d;
					border-radius: 30px;
				}
			}
			&:hover {
				.blog-thumbnail:before {
					opacity: 1;
					visibility: visible;
				}
			}
			.blog-info {
				padding: 0 20px;
				> h3 {
					color: #2b2b2b;
					font-size: 20.32px;
					font-weight: 500;
					margin-bottom: 4px;
					&:hover {
						color: #1260a0;
					}
				}
				p {
					margin-bottom: 13px;
				}
				.read-more {
					display: inline-block;
					color: #155799;
					font-size: 14.23px;
					font-weight: 600;
					i {
						padding-left: 3px;
					}
				}
			}
		}
	}
}

.meta {
	margin-bottom: 3px;
	li {
		display: inline-block;
		margin-right: 16px;
		&:last-child {
			margin-right: 0;
		}
		a {
			display: inline-block;
			color: #575757;
			font-size: 14.23px;
			font-weight: 500;
		}
		img {
			margin-right: 6px;
		}
	}
}

// NEWSLETTER SECTION

.newsletter-section {
	.newsletter-sec {
		background:linear-gradient(to right, #fdc830, #f37335);
		background-repeat: no-repeat;
		padding: 57px 100px 55px;
		border-radius: 40px;
		background-position: center left;
		margin-bottom: -135px;
		position: relative;
		overflow: hidden;
		&:before {
			content: '';
			position: absolute;
			bottom: 46px;
			left: 0;
			width: 59px;
			height: 115px;
			background-image: url(../../../resources/img/news-bg.png);
			background-repeat: no-repeat;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 15px;
			right: 0;
			width: 78px;
			height: 100px;
			background-image: url(../../../resources/img/circle5.png);
			background-repeat: no-repeat;
		}
		.newsz-ltr-text {
			> h2 {
				color: #2b2b2b;
				font-size: 36.58px;
				line-height: 44.71px;
				margin-bottom: 33px;
				font-weight: 700;
			}
		}
		.newsletter-form {
			padding-left: 62px;
			.row {
				margin: 0 -10px;
				.col-md-4, .col-md-12 {
					padding: 0 10px;
				}
   			}
			.form-group {
				margin-bottom: 20px;
				input, select {
					width: 100%;
					background-color: #fddead;
					height: 40px;
					line-height: 40px;
					color: #575757;
					font-size: 14.23px;
					padding: 0 16px;
					border-radius: 20px;
					border:0;
					font-style: italic;
				}
				select {
					-webkit-appearance: none;
				    -moz-appearance: none;
				    text-indent: 1px;
				    text-overflow: '';
				}
				textarea {
					color: #575757;
					font-size: 14.23px;
					background-color: #fddead;
					height: 70px;
					width: 100%;
					border-radius: 20px;
					border:0;
					resize: none;
					padding: 10px 15px;
				}
				&.select-tg {
					position: relative;
					&:before {
						content: '\f107';
						font-family: 'Font Awesome 5 Free';
						font-weight: 900;
						position: absolute;
						top: 50%;
						right: 16px;
						color: #575757;
						@include transform(translateY(-50%));
					}
				}
			}
		}
	}
}




//  FOOTER

footer {
	background-color: #f2f7fd;
	padding: 219px 0 72px;
	.top-footer {
		padding-bottom: 59px;
	}
	.widget-about {
		> img {
			margin-bottom: 28px;
		}
	}
	.widget-contact {
		ul {
			li {
				display: block;
				margin-bottom: 19px;
				&:last-child {
					margin-bottom: 0;
				}
				.contact-info {
					> img {
						vertical-align: top;
						margin-right: 5px;
						position: relative;
						top: 6px;
					}
				}
				.contact-tt {
					display: inline-block;
					max-width: calc(100% - 21px);
					> h4 {
						color: #2b2b2b;
						font-size: 14.23px;
						margin-bottom: 6px;
						font-weight: 600;
					}
					> span {
						display: block;
						color: #575757;
						font-size: 14.23px;
					}
				}
			}
		}
	}
	.widget-title {
		color: #2b2b2b;
		font-size: 18.29px;
		font-weight: 600;
		text-transform: capitalize;
		font-weight: 500;
		margin-bottom: 15px;
	}
	.widget-links {
		li {
			margin-bottom: 7px;
			&:last-child {
				margin-bottom: 0;
			}
			a {
				display: block;
				color: #575757;
				font-size: 14.23px;
				font-weight: 500;
				font-family: $secondary-font;
				&:hover {
					color: #1260a0;
					padding-left: 5px;
				}
			}
		}
	}
	.widget-iframe {
		iframe {
			width: 100%;
			height: 200px;
		}
	}
	.bottom-footer {
		border-top: 1px solid #bfbfbf;
		padding-top: 26px;
		.social-links {
			text-align: right;
		}
	}
}


//  PAGER SECTION

.pager-section {
	background: url(../../../resources/img/pager-bg.png), #f2f7fd;
	background-repeat: no-repeat;
	background-position: right center;
	padding: 75px 0 85px;
	&.blog-version {
		background-image: url(../../../resources/img/blogger.jpg);
		padding: 169px 0 242px;
		position: relative;
		background-position: center;
		background-size: cover;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.40);
		}
		.pager-content {
			> h2 {
				color: #fff;
				max-width: 650px;
				line-height: 81.3px;
				margin: 0 auto;
				font-weight: 600;
				margin-bottom: 32px;
				margin-top: 18px;
			}
			ul {
				li {
					&:before {
						background-color: #fff;
					}
					a, span {
						color: #fff;
					}
				}
			}
			.categry {
				display: inline-block;
				color: #2b2b2b;
				font-size: 14.23px;
				font-style: italic;
				background-color: #ffd31d;
				padding: 0 20px;
				height: 24px;
				line-height: 24px;
				border-radius: 30px;
				margin-bottom: 13px;
			}
			.meta {
				li {
					margin-right: 0;
					&:before {
						display: none;
					}
				}
			}
		}
	}
	.pager-content {
		position: relative;
		z-index: 99;
		> h2 {
			color: #2b2b2b;
			font-size: 65px;
			text-transform: capitalize;
			font-weight: 400;
			margin-bottom: 6px;
		}
		> ul {
			li {
				display: inline-block;
				position: relative;
				padding: 0 12px;
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 100%;
					width: 1px;
					height: 15px;
					margin-left: 2px;
					background-color: #575757;
					@include transform(translateY(-50%));
					margin-top: 2px;
				}
				&:last-child {
					&:before {
						display: none;
					}
				}
				a, span {
					display: inline-block;
					color: #575757;
					font-size: 14.23px;
				}
			}
		}
	}
	.page-titlee {
		color: #f37335;
		font-size: 162.6px;
		font-weight: 600;
		opacity: 0.10;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
	}
}



//  ABOUT PAGE

.about-page-content {
	padding: 138px 0 0 0;
	.abt-page-row {
		margin-bottom: 40px;
		.row {
			margin-bottom: 60px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.section-title {
			h2 {
				line-height: 58.94px;
				margin-bottom: 25px;
			}
			p {
				margin-bottom: 50px;
			}
		}
	}
	.act-inffo {
		> span {
			text-transform: uppercase;
			color: #f37335;
			font-size: 14.23px;
			font-weight: 500;
			font-family: $secondary-font;
			margin-bottom: -10px;
			display: block;
		}
		> h2 {
			color: #2b2b2b;
			font-size: 48.78px;
			font-weight: 600;
			margin-bottom: 18px;
		}
		p {
			margin-bottom: 22px;
		}
		ul {
			li {
				display: block;
				color: #575757;
				font-size: 14.23px;
				margin-bottom: 10px;
				position: relative;
				padding-left: 30px;
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					width: 16px;
					height: 15px;
					background-image: url(../../../resources/img/icon14.png);
					@include transform(translateY(-50%));
					margin-top: 2px;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

//  BENIFIT SECTION

.benifit-section {
	padding: 120px 0 102px 0;
	.section-title {
		h2 {
			margin-bottom: 18px;
		}
		p {
			margin-bottom: 48px;
			max-width: 460px;
			margin: inherit;
		}
	}
	.about-us-section {
		.about-sec {
			.row {
				.col-lg-6:nth-child(2) {
					top: 60px;
					position: relative;
				}
				.col-lg-6:nth-child(4) {
					top: 60px;
					position: relative;
				}
			}
		}
		.abt-col {
			margin-bottom: 30px;
		}
	}
}


// CLASSES PAGE CONTENT

.classes-page {
	padding: 140px 0;
	.classes-banner {
		background-image: url(../../../resources/img/classes-banner.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		padding: 115px 80px 127px;
		position: relative;
		z-index: 1;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background:linear-gradient(to left, #ffffff, #ffffff);
			z-index: -1;
			opacity: 0.3;
		}
		> span {
			display: inline-block;
			color: #f37335;
			font-size: 14.23px;
			font-weight: 500;
			text-transform: uppercase;
			margin-bottom: -7px;
			font-family: $secondary-font;
		}
		> h2 {
			color: #2b2b2b;
			font-size: 48.78px;
			margin-bottom: 21px;
		}
	}
	.classes-section {
		padding-top: 80px;
		padding-bottom: 0;
		.classes-col {
			margin-bottom: 30px;
		}
	}
}
.mdp-pagiation {
	text-align: right;
	margin-top: 18px;
	.pagination {
		justify-content: flex-end;
		.page-item:first-child .page-link {
			border-radius: 0;
		}
		.page-link {
			border:0;
			padding: 0;
			line-height: inherit;
			color: #bbbbbb;
			font-size: 18.29px;
			font-weight: 500;
			font-family: $secondary-font;
			position: relative;
			padding-bottom: 1px;
			&:hover {
				background-color: inherit;
			}
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: #f37335;
				opacity: 0;
				visibility: hidden;
				@include transition(all 0.4s ease-in-out);
			}
			&.active,
			&:hover {
				color: #2b2b2b;
				&:before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		li {
			margin-right: 18px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}


.page-content {
	padding: 140px 0;
	&.style2 {
		padding: 43px 0 140px;
	}
	&.p80 {
		padding: 80px 0 140px;
	}
	.teachers-section {
		padding-bottom: 0;
		.teacher {
			margin-bottom: 36px;
		}
	}
	.course-section {
		padding: 0;
		.courses-list {
			margin: 0;
		}
	}
	.teachers-section.teacher-page {
		.section-title {
			h2 {
				font-size: 48px;
			}
		}
		.teachers {
			.teacher {
				margin-bottom: 0;
			}
		}
	}
}

// SCHEDULE PAGE

.schedule-page {
	.nav-tabs {
		justify-content: center;
		border-bottom: 0;
		margin-bottom: 30px;
		li {
			display: inline-block;
			border-bottom: 0;
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
			a {
				display: inline-block;
				border: 0;
				height: 46px;
				line-height: 46px;
				background-color: #ffffff;
				@include radius(30px);
				padding: 0 37px;
				border-color:#dbdbdb !important;
				border:1px solid #dbdbdb;
				color: #575757;
				font-size: 18px;
				font-family: $secondary-font;
				&.active {
					border-color: #f37335 !important;
					color: #f37335;
				}
			}
		}
	}

	.schedule-content {
		display: flex;
		flex-wrap:wrap;
		border-left: 1px solid #e5dfdf;
		border-radius: 20px 0 0 0;
		.schp-list {
			border-right: 1px solid #e5dfdf;
			width: calc(100% / 7);
			&:first-child {
				li {
					.tb-head {
						border-radius: 20px 0 0 0;
						border-left: 0;
					}
				}
			}
			&:last-child {
				border-radius: 0 20px 0 0;
				li {
					.tb-head {
						border-radius: 0 20px 0 0;
						border-right: 0;
					}
				}
			}
			li {
				height: 200px;
				border-bottom: 1px solid #e5dfdf;
				&.no-height {
					height: auto;
				}
				.tb-head {
					background-color: #f2f7fd;
					text-align: center;
					padding: 12px 0;
					border: 1px solid #d5d7da;
					border-right: 0;
					h2 {
						color: #2b2b2b;
						font-size: 18px;
					}
				}
				.mkd-info {
					padding: 41px 20px 35px;
					background:linear-gradient(to bottom, #fdc830, #f37335);
					text-align: center;
					height: 100%;
					&.bg-2 {
						background: linear-gradient(to bottom, #159957, #155799);
					}
					> h3 {
						font-size: 18px;
						line-height: 20px;
						color: #ffffff;
						font-weight: 600;
						margin-bottom: 17px;
					}
					> span {
						display: block;
						color: #f2f7fd;
						font-size: 18px;
						font-style: italic;
						font-family: $secondary-font;
					}
				}
			}
		}
	}
}


// CONTACT PAGE

.mdp-map {
	margin-bottom: 36px;
	iframe {
		width: 100%;
		height: 455px;
	}
}

.mdp-contact {
	.comment-area {
		h3 {
			color: #2b2b2b;
			font-size: 36.59px;
			font-weight: 500;
			text-transform: capitalize;
			margin-bottom: 23px;
		}
		form {
			.row {
				margin: 0 -10px;
				.col-lg-6, .col-lg-12, .col-lg-4 {
					padding: 0 10px;
				}
			}
			.form-group {
				margin-bottom: 20px;
				input, textarea {
					width: 100%;
					height: 40px;
					border:1px solid #ece8e8;
					border-radius: 30px;
					padding: 0 15px;
					font-size: 14.23px;
					color: #575757;
				}
				textarea {
					height: 94px;
					padding: 15px;
					border-radius: 20px;
					resize: none;
					vertical-align: middle;
				}
			}
			.form-submit {
				margin-top: 10px;
				text-align: right;
				.btn-default {
					padding: 0 40px 0 60px;
				}
			}
		}
	}
	.mdp-our-contacts {
		ul {
			li {
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		h3 {
			color: #2b2b2b;
			font-size: 36.59px;
			font-weight: 500;
			text-transform: capitalize;
			margin-bottom: 23px;
		}
		.dd-cont {
			padding-left: 15px;
			> h4 {
				color: #2b2b2b;
				font-size: 14.23px;
				margin-bottom: 5px;
				font-weight: 600;
			}
			> span {
				display: block;
				color: #575757;
				font-size: 14.23px;
			}
		}
	}
}


//  POST PAGE

.blog-post.single {
	border-bottom: 1px solid #e8e3e3;
	padding-bottom: 19px;
	margin-bottom: 77px;
	p {
		margin-bottom: 32px;
	}
	.oderd {
		margin-bottom: 38px;
		> h3 {
			color: #2b2b2b;
			font-size: 20.32px;
			text-transform: capitalize;
			font-weight: 500;
			margin-bottom: 13px;
		}
		ul, ol {
			li {
				display: block;
				color: #575757;
				font-size: 14.23px;
				margin-bottom: 11px;
				padding-left: 30px;
				position: relative;
				&:last-child {
					margin-bottom: 0;
				}
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					width: 16px;
					height: 15px;
					background-image: url(../../../resources/img/icon14.png);
					background-repeat: no-repeat;
					@include transform(translateY(-50%));
				}
			}
		}
		ol {
			li {
				padding-left: 0;
				&:before {
					display: none;
				}
			}
		}
	}
	blockquote {
		border:1px solid #eae5e5;
		border-radius: 20px;
		text-align: center;
		padding: 55px 100px 60px;
		background-image: url(../../../resources/img/element-bg.png);
		background-repeat: no-repeat;
		background-position: center;
		margin-bottom: 26px;
		p {
			color: #2b2b2b;
			font-size: 18.29px;
			font-weight: 600;
			line-height: 26.42px;
			margin-bottom: 20px;
		}
		> h4 {
			color: #575757;
			font-size: 14.23px;
			font-weight: 600;
			margin-bottom: 7px;
			text-transform: capitalize;
			position: relative;
			z-index: 9;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				width: 66px;
				height: 47px;
				background-image: url(../../../resources/img/quote.png);
				background-repeat: no-repeat;
				@include transform(translateX(-50%));
				z-index: -1;
			}
		}
		> span {
			display: block;
			color: #f37335;
			font-size: 12.19px;
			font-style: italic;
			position: relative;
			z-index: 9;
		}
	}
}

.mdp-sub-title {
	color: #2b2b2b;
	font-size: 36.58px;
	margin-bottom: 23px;
}

//  POST COMMENTS

.mdp-post-comments {
	margin-bottom: 75px;
	ul {
		li {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
			.mdp-comment {
				.mdp-img {
					max-width: 72px;
				}
				.mdp-com {
					max-width: calc(100% - 72px);
					padding-left: 15px;
					> h3 {
						color: #2b2b2b;
						font-size: 18.29px;
						text-transform: capitalize;
						margin-bottom: 8px;
						display: inline-block;
					}
					> span {
						display: inline-block;
						color: #575757;
						font-size: 14.23px;
						font-weight: 300;
						font-family: $secondary-font;
						padding-left: 12px;
					}
					.reply-btn {
						margin-top: 21px;
						display: block;
						text-align: right;
						color: #575757;
						font-size: 14.23px;
						font-family: $secondary-font;
						i {
							color: #155799;
							margin-right: 4px;
						}
					}
				}
			}
			ul {
				margin-top: 30px;
				padding-left: 90px;
			}
		}
	}
}


//  SIDEBAR

.sidebar {
	.widget {
		margin-bottom: 40px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.widget-search {
		form {
			position: relative;
			input {
				width: 100%;
				height: 52px;
				color: #575757;
				font-size: 14.23px;
				font-style: italic;
				padding: 0 20px;
				border-radius: 30px;
				border:1px solid #c9c9c9;
			}
			button {
				background-color: inherit;
				border:0;
				position: absolute;
				top: 50%;
				right: 20px;
				@include transform(translateY(-50%));
			}
		}
	}
	.widget-title {
		color: #2b2b2b;
		font-size: 20.32px;
		font-weight: 500;
		border:1px solid #f6986b;
		border-radius: 30px;
		text-align: center;
		padding: 10px 15px;
		margin-bottom: 25px;
	}
	.widget-categories {
		ul {
			padding: 0 20px 0 20px;
			li {
				color: #575757;
				font-size: 18.29px;
				font-weight: 300;
				font-family: $secondary-font;
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 3px;
				&:last-child {
					margin-bottom: 0;
				}
				a {
					display: inline-block;
					color: #2b2b2b;
					font-size: 18.29px;
					&:hover {
						color: #F37335;
					}
				}
				span {
					margin-left: auto;
				}
			}
		}
	}
	.widget-posts {
		.wd-posts {
			padding: 0 10px 0 20px;
			.wd-post {
				margin-bottom: 25px;
				&:last-child {
					margin-bottom: 0;
				}
				.wd-info {
					max-width: calc(100% - 52px);
					padding-left: 10px;
					> h3 {
						color: #2b2b2b;
						font-size: 14.23px;
						line-height: 18.29px;
						margin-bottom: 3px;
						font-weight: 500;
						&:hover {
							color: #F37335;
						}
					}
					> span {
						display: block;
						color: #575757;
						font-size: 14.23px;
					}
				}
			}
		}
	}
	.widget-comments {
		ul {
			padding: 0 10px 0 20px;
			li {
				display: block;
				color: #2b2b2b;
				font-size: 14.23px;
				font-family: $secondary-font;
				position: relative;
				padding-left: 30px;
				margin-bottom: 12px;
				cursor: pointer;
				&:last-child {
					margin-bottom: 0;
				}
				&:before {
					content: '';
					position: absolute;
					top: 6px;
					left: 0;
					width: 17px;
					height: 15px;
					background-image: url(../../../resources/img/icon18.png);
					background-repeat: no-repeat;
				}
				a {
					font-weight: 500;
				}
				&:hover {
					color: #F37335;
					a {
						color: #2b2b2b;
					}
				}
			}
		}
	}
	.widget-archives {
		ul {
			padding: 0 10px 0 20px;
			li {
				display: block;
				position: relative;
				padding-left: 16px;
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				}
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					width: 7px;
					height: 7px;
					background-color: #155799;
					@include radius(50%);
					@include transform(translateY(-50%));
				}
				a {
					display: block;
					color: #2b2b2b;
					font-size: 14.23px;
					font-weight: 500;
					font-family: $secondary-font;
					&:hover {
						color: #F37335;
					}
				}
			}
		}
	}
	.widget-tags {
		ul {
			padding: 0 20px;
			margin-bottom: -5px;
			li {
				display: inline-block;
				margin-bottom: 5px;
				margin-right: 1px;
				a {
					display: inline-block;
					color: #575757;
					font-size: 14.23px;
					border:1px solid #ece8e8;
					border-radius: 30px;
					padding: 6px 8px;
				}
			}
		}
	}
	.widget-calendar {
		.mdp-calendar {
			text-align: center;
			padding: 0 20px;
			.month {
				color: #2b2b2b;
				font-size: 14.23px;
				font-weight: 500;
				margin-bottom: 10px;
			}
			table {
				width: 100%;
				thead {
					tr {
						th {
							color: #575757;
							font-size: 16px;
							font-weight: 600;
							padding: 6px 0;
						}
					}
				}
				tbody {
					td {
						padding: 6px 0;
						color: #2b2b2b;
						font-size: 14px;
						&.active {
							background:linear-gradient(to left, #fdc830, #f37335);
							color: #fff;
							@include radius(50%);
						}
					}
				}
			}
			.controls {
				margin-top: 10px;
				li {
					display: inline-block;
					margin-right: 90px;
					&:last-child {
						margin-right: 0;
						a {
							i {
								margin-right: 0;
								margin-left: 6px;
							}
						}
					}
					a {
						display: inline-block;
						color: #2b2b2b;
						font-size: 14.23px;
						&:hover {
							color: #155799;
						}
						i {
							margin-right: 6px;
							font-size: 18px;
							position: relative;
							top: 2px;
						}
					}
				}
			}
		}
	}
}


//  BLOG PAGE

.blog-section.posts-page {
	margin-bottom: 60px;
	.blog-posts {
		.blog-post {
			margin-bottom: 60px;
			&:last-child {
				margin-bottom: -7px;
			}
			.blog-info {
				.category {
					padding: 0 20px;
				    color: #2b2b2b;
				    font-size: 14.23px;
				    height: 24px;
				    line-height: 24px;
				    background-color: #ffd31d;
				    border-radius: 30px;
				    position: relative;
				    top: -10px;
				    display: inline-block;
				}
				h3 {
					font-size: 36.58px;
					font-weight: 500;
					position: relative;
					line-height: 44.71px;
					margin-bottom: 9px;
					&.stick {
						padding-left: 30px;
						&:before {
							content: '';
							position: absolute;
							top: 50%;
							left: 0;
							width: 16px;
							height: 16px;
							background:linear-gradient(to left, #fdc830, #f37335);
							@include transform(translateY(-50%));
							@include radius(50%);
						}
					}
				}
				p {
					margin-bottom: 19px;
				}
				.chat-format {
					li {
						display: flex;
						flex-wrap: wrap;
						> strong {
							color: #2b2b2b;
							font-size: 18.29px;
							font-family: $secondary-font;
							font-weight: 500;
							width: 100px;
						}
						p {
							max-width: calc(100% - 100px);
							padding-left: 10px;
						}
					}
				}
			}
			&.without-thumb {
				.blog-thumbnail {
					margin-bottom: 10px;
					padding: 0 20px;
					.category {
						position: static;
					}
				}
			}
			&.without-title {
				.blog-info {
					p {
						color: #2b2b2b;
						font-size: 18.29px;
						font-family: $secondary-font;
						line-height: 24.39px;
						font-weight: 500;
						margin-top: 15px;
						margin-bottom: 30px;
					}
				}
			}
			&.gallery-post {
				.blog-info {
					padding-top: 0;
					position: relative;
					top: -20px;
				}
			}
			&.quote-post {
			    border: 1px solid #eae5e5;
			    border-radius: 20px;
			    text-align: center;
			    padding: 50px 100px 51px;
			    background-image: url(../../../resources/img/element-bg2.png);
			    background-repeat: no-repeat;
			    background-position: 50%;
			    &.no-bg {
			    	background:#fff;
			    }
			    .blog-info {
			    	.category {
					    padding: 0 20px;
					    color: #2b2b2b;
					    font-size: 14.23px;
					    height: 24px;
					    line-height: 24px;
					    background-color: #ffd31d;
					    border-radius: 30px;
					    display: inline-block;
					    margin-bottom: 12px;
			    	}
			    	.meta {
			    		margin-bottom: 29px;
			    	}
			    	p {
			    		color: #2b2b2b;
					    font-size: 18.29px;
					    font-weight: 600;
					    line-height: 26.42px;
					    margin-bottom: 20px;
			    	}
			    	h4 {
			    		color: #575757;
					    font-size: 14.23px;
					    font-weight: 600;
					    margin-bottom: 7px;
					    text-transform: capitalize;
					    position: relative;
					    z-index: 9;
					    &:before {
					    	content: "";
						    position: absolute;
						    top: 0;
						    left: 50%;
						    width: 66px;
						    height: 47px;
						    background-image: url(../../../resources/img/quote.png);
						    background-repeat: no-repeat;
						    transform: translateX(-50%);
						    z-index: -1;
					    }
			    	}
			    	> span {
			    		display: block;
					    color: #f37335;
					    font-size: 12.19px;
					    font-style: italic;
					    position: relative;
					    z-index: 9;
			    	}
			    	h3 {
			    		font-size: 20.32px;
			    		line-height: 26.42px;
			    		position: relative;
			    		z-index: 1;
			    		&:before {
			    			content: '';
			    			position: absolute;
			    			top: 0;
			    			left: 50%;
			    			margin-top: -10px;
			    			width: 70px;
			    			height: 70px;
			    			background-image: url(../../../resources/img/link.png);
			    			background-repeat: no-repeat;
			    			@include transform(translateX(-50%));
			    			z-index: -1;
			    		}
			    	}
			    	.read-more {
			    		position: relative;
			    		z-index: 9;
			    	}
			    }
			}
		}
	}
}

.video-play {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%,-50%));
	@include transition(all 0.4s ease-in-out);
	&:hover {
		@include transform(translate(-50%,-50%) scale(1.2));
	}
}



.slick-slide {
	outline: none;
}

//  GALLERY POST NEXT/PREV

.blog-carousel {
	.slick-prev,
	.slick-next {
		width: 52px;
		height: 52px;
		background-repeat: no-repeat;
		z-index: 999;
		&:before {
			display: none;
		}
	}
	.slick-prev {
		background-image: url(../../../resources/img/left.png);
		left: 20px;
	}
	.slick-next {
		background-image: url(../../../resources/img/right.png);
		right: 20px;
	}
}

//  CLASSES CAROUSEL CONTROLS

.classes-carousel {
	.slick-prev,
	.slick-next {
		width: 31px;
		height: 21px;
		top: -100px;
		right: 0;
		left: auto;
		transform: inherit;
		background-repeat: no-repeat;
		@include transition(all 0.4s ease-in-out);
		&:before {
			display: none;
		}
	}
	.slick-prev {
		background-image: url(../../../resources/img/arrow-left.png);
		right: 76px;
		&:hover {
			background-image: url(../../../resources/img/arrow-left2.png);
		}
	}
	.slick-next {
		background-image: url(../../../resources/img/arrow-right.png);
		right: 20px;
		&:hover {
			background-image: url(../../../resources/img/arrow-right2.png);
		}
	}
}


//  RESPONSIVE MOBILE MENU




.menu-btn {
	text-align: center;
	position: relative;
	z-index: 9999999;
    cursor: pointer;
    margin-left: auto;
    width: 50px;
    display: none;
    height: 50px;
    line-height: 54px;
    > a {
		display: inline-block;
		width: 24px;
		span {
			display: block;
			width: 100%;
			height: 2px;
			background-color: #155799;
			margin-bottom: 5px;
			transition: all 0.4s ease-in-out;
			@include transition(all 0.4s ease-in-out);
			&:last-child {
				margin-bottom: 0;
			}
		}
    }
    &.active {
		span {
			&.bar1 {
				-webkit-transform: translateY(8px) rotate(-45deg);
				-moz-transform: translateY(8px) rotate(-45deg);
				-ms-transform: translateY(8px) rotate(-45deg);
				transform: translateY(8px) rotate(-45deg);
			}
			&.bar2 {
				opacity: 0;
				visibility: hidden;
				-webkit-transform: scale(2,1);
				-moz-transform: scale(2,1);
				-ms-transform: scale(2,1);
				-o-transform: scale(2,1);
				transform: scale(2,1);
			}
			&.bar3 {
				-webkit-transform: translateY(-6px) rotate(-135deg);
				-moz-transform: translateY(-6px) rotate(-135deg);
				-ms-transform: translateY(-6px) rotate(-135deg);
				transform: translateY(-6px) rotate(-135deg);
			}
		}
	}
}


.responsive-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	background-color: #f79133;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.30);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.30);
	-ms-box-shadow: 0 0 20px rgba(0,0,0,0.30);
	-o-box-shadow: 0 0 20px rgba(0,0,0,0.30);
	box-shadow: 0 0 20px rgba(0,0,0,0.30);
	height: 100%;
	padding: 50px;
	opacity: 0;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	visibility: hidden;
	transition: all 0.4s ease-in-out;
	&.active {
		opacity: 1;
		visibility: visible;
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
		z-index: 999999;
	}
	ul {
		li {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
			a {
				color: #fff;
				font-size: 20px;
				font-weight: 500;
				font-family: $secondary-font;
			}
		}
	}
}


#html5-watermark {
	display: none !important;
}

//  MASONARY GALLERY


.masonary {
	li {
		padding: 0 9.5px;
		margin-bottom: 19px;
		img {
			width: 100%;
			border-radius: 20px;
			object-fit: cover;
			height: 100%;
		}
		&.width1 {
			width: 199px;
			height: 210px;
			margin-top: 190px;
		}
		&.width2 {
			width: 297px;
			height: 360px;
		}
		&.width3 {
			width: 197px;
			height: 290px;
			margin-top: 20px;
		}
		&.width4 {
			width: 180px;
			margin-top: 60px;
			img {
				width: 94px;
				height: 87px;
			}
		}
		&.width5 {
			width: 297px;
			height: 192px;
			padding-left: 30px;
		}
		&.width6 {
			width: 198px;
			height: 240px;
			margin-top: -45px;
		}
		&.width7 {
			width: 198px;
			height: 240px;
			margin-top: 0;
		}
		&.width8 {
			width: 80px;
			height: 64px;
			margin-top: 0;
		}
		&.width9 {
			width: 199px;
			height: 190px;
		}
		&.width10 {
			width: 99px;
			height: 72px;
		}
	}
}


.failed,
.text-info {
    background: #f37335;
    padding: 10px;
    margin-bottom: 20px;
    color: #fff !important;
    img {
    	margin-right: 10px;
    	display: inline-block;
    }
}

//  ERROR PAGE

.error-page {
	background: #f2f7fd url(../../../resources/img/error-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 100vh;
	justify-content: center;
	position: relative;
	overflow-y:auto;
	.page-title {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
		color: #f37335;
		font-size: 300px;
		font-weight: 600;
		opacity: 0.05;
		margin-top: -200px;
	}
	.error-text {
		max-width: 780px;
		margin: 0 auto;
		text-align: center;
		position: relative;
		z-index: 99;
		h2 {
			color: #f37335;
			font-size: 150px;
			font-weight: 700;
			margin-bottom: 20px;
			line-height: 150px;
			margin-bottom: 16px;
		}
		h3 {
			color: #2b2b2b;
			font-size: 64px;
			margin-bottom: 51px;
		}
		.btn-default {
			padding: 0px 42px 0px 60px;
			margin-bottom: 150px;
		}
		.social-icons {
			li {
				a {
					background:linear-gradient(to left, #159957, #155799);
					&:hover {
						background:linear-gradient(to bottom, #fdc830, #f37335);
					}
				}
			}
		}
	}
}


.social-icons {
	li {
		display: inline-block;
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
		a {
			display: inline-block;
			width: 50px;
			height: 50px;
			line-height: 50px;
			border-radius: 50px;
			text-align: center;
			background:linear-gradient(to left, #159957, #155799);
			color: #fff;
			font-size: 24px;
		}
	}
}

//  SEARCH RESULTS PAGE

.search-content.classes-page {
	.classes-col {
		.class-thumb {
			img {
				@include radius(20px);
			}
			&:before {
				display: none;
			}
		}
		.class-info {
			border:0;
			padding: 0;
		}
	}
}

.teacher-col {
	margin-top: 50px;
	.teacher-thumb {
		img {
			@include radius(20px);
			max-width: 100%;
		}
	}
	.teacher--info {
		h3 {
			color: #2b2b2b;
			font-size: 18px;
			font-weight: 500;
			text-transform: capitalize;
			margin-bottom: 1px;
		}
		> span {
			display: block;
			color: #155799;
			font-size: 14px;
			text-transform: capitalize;
			margin-bottom: 21px;
		}
		.social-icons {
			li {
				a {
					background:linear-gradient(to bottom, #fdc830, #f37335);
				}
			}
		}
	}
}

.search-content {
	.blog-section {
		margin-bottom: -8px;
		.blog-posts {
			margin-top: 50px;
			.blog-post {
				.blog-info {
					padding-top: 9px;
				}
			}
		}
	}
}

//  CLASS SINGLE CONTENT

.class-single-content {
	max-width: 760px;
	h2 {
		color: #2b2b2b;
		font-size: 64px;
		line-height: 80px;
		margin-bottom: 17px;
	}
	p {
		color: #575757;
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 25px;
	}
	.meta-box {
		margin-bottom: 24px;
		li {
			display: inline-block;
			padding: 0 13px;
			position: relative;
			&:first-child {
				padding-left: 0;
			}
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 100%;
				width: 1px;
				height: 15px;
				background-color: #575757;
				@include transform(translateY(-50%));
				margin-top: 1px;
				margin-left: 2px;
			}
			&:last-child {
				&:before {
					display: none;
				}
			}
			a, span {
				display: inline-block;
				color: #575757;
				font-size: 14px;
			}
		}
	}
	.class-gallery-img {
		margin-bottom: 20px;
		> a img {
			max-width: 100%;
		}
	}
	h3 {
		color: #2b2b2b;
		font-size: 20px;
		line-height: 26px;
		font-weight: 500;
		margin-bottom: 23px;
	}
	.class-gallery {
		.row {
			margin: 0 -10px;
			.col-lg-3 {
				padding: 0 10px;
			}
		}
	}
}

.ordrd {
	margin-bottom: 49px;
	li {
		color: #575757;
		font-size: 14px;
		margin-bottom: 11px;
		position: relative;
		padding-left: 31px;
		&:before {
			content: "";
		    position: absolute;
		    top: 50%;
		    left: 0;
		    width: 16px;
		    height: 15px;
		    background-image: url(../../../resources/img/icon14.png);
		    background-repeat: no-repeat;
		    transform: translateY(-50%);
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.class-sidebar {
	position: relative;
	top: -143px;
	max-width: 293px;
	margin-left: auto;
	.widget {
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.widget-information {
		background-color: #fff;
		padding: 47px 20px 50px;
		border:2px solid #f9b493;
		border-radius: 20px;
		.widget-title {
			color: #2b2b2b;
			font-size: 20px;
			font-weight: 600;
			text-transform: capitalize;
			border: 0;
			padding: 0;
			margin-bottom: 17px;
		}
		ul {
			padding-bottom: 26px;
			border-bottom: 1px solid #e5dfdf;
			li {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
				h4 {
					color: #575757;
					font-size: 14px;
					font-style: italic;
				}
				> span {
					margin-left: auto;
					color: #155799;
					font-size: 14px;
					font-weight: 700;
					font-style: italic;
				}
			}
		}
		.tech-info {
			padding-top: 25px;
			text-align: center;
			.tech-tble {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				margin-bottom: 40px;
				> img {
					@include radius(50%);
				}
				.tch-info {
					padding-left: 16px;
					text-align: left;
					h3 {
						color: #2b2b2b;
						font-size: 18px;
						text-transform: capitalize;
					}
					span {
						display: block;
						color: #575757;
						font-size: 14px;
						font-family: $secondary-font;
					}
				}
			}
			.btn-default {
				padding: 0 40px 0 60px;
			}
		}
	}
	.widget-class {
		background-color: #fff;
		padding: 15px 20px;
		border: 2px solid #f9b493;
		@include radius(20px);
		margin-bottom: 22px;
		.wd-class-post {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			.wd-class-thumb {
				width: 50px;
				height: 50px;
				line-height: 50px;
				background:linear-gradient(to left, #fdc830, #f37335);
				@include radius(50%);
				text-align: center;
			}
			.wd-class-info {
				max-width: calc(100% - 50px);
				padding-left: 15px;
				> h3 {
					color: #2b2b2b;
					font-size: 18px;
					text-transform: capitalize;
					margin-bottom: -1px;
				}
				> span {
					display: block;
					color: #575757;
					font-size: 13px;
					font-weight: 400;
					font-style: italic;
				}
			}
		}
	}
	.widget-classes-carousel {
		margin-bottom: 48px;
		.widget-title {
			color: #2b2b2b;
			font-size: 20px;
			text-transform: capitalize;
			margin-bottom: 12px;
			border: 0;
			background-color: inherit;
			padding: 0;
			text-align: left;
		}
		.classes-section {
			padding: 0;
		}
		.slick-dots {
			bottom: -21px;
			li {
				button {
					width: 5px;
					height: 5px;
					background-color: #bbbbbb;
					@include radius(30px);
				}
				&.slick-active {
					button {
						width: 20px;
						background:linear-gradient(to left, #159957, #155799);
					}
				}
			}
		}
	}
	.widget-contact-dp {
		background-color: #fff;
		border: 2px solid #f9b493;
		@include radius(20px);
		padding: 47px 20px 50px;
		.mdp-our-contacts {
			h3 {
				font-size: 20px;
				font-weight: 600;
			}
			.dd-cont {
				max-width: calc(100% - 50px);
			}
		}
	}
}

// EVENT SINGLE PAGE

.event-single {
	max-width: 100%;
	.event-gallery-sec {
		margin-bottom: 16px;
		.row {
			margin: 0 -10px;
			.col-lg-3 {
				padding: 0 10px;
			}
		}
	}
	p {
		color: #575757;
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 20px;
	}
	> h3 {
		color: #2b2b2b;
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 13px;
		text-transform: capitalize;
	}
	.mdp-map {
		margin-top: 26px;
		margin-bottom: 0;
	}
}
.event-gallery {
	position: relative;
	margin-bottom: 20px;
	> a {
		display: block;
		position: relative;
	}
	> a img {
		max-width: 100%;
		width: 100%;
		@include radius(20px);
	}
	.price {
		display: inline-block;
		position: absolute;
		top: 30px;
		right: 30px;
		height: 46px;
		line-height: 46px;
		padding: 0 30px;
		font-weight: 500;
		font-size: 15px;
		font-weight: 500;
		font-family: $secondary-font;
		color: #fff;
		@include radius(30px);
		z-index: 9;
		background: linear-gradient(to bottom, #fdc830, #f37335);
	}
}

.sg-event {
	> span {
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		color: #fff;
		font-size: 36px;
		font-weight: 600;
		@include radius(50%);
		background:linear-gradient(to bottom, #fdc830, #f37335);
		display: inline-block;
		margin-bottom: 7px;
	}
	h3 {
		color: #2b2b2b;
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 20px;
		text-transform: capitalize;
		margin-bottom: 3px;
	}
}


.progress-bar {
transition-duration: 3s;}

.position-static {
	position: static !important;
}

.clt {
	padding-bottom: 30px !important;
	li {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 21px !important;
		&:last-child {
			margin-bottom: 0 !important;
		}
		.clt-info {
			max-width: calc(100% - 45px);
			padding-left: 15px;
			box-sizing: border-box;
			h3 {
				color: #2b2b2b;
				font-size: 18px;
				line-height: 20px;
				span {
					display: block;
					color: #155799;
					font-size: 18px;
					font-weight: 500;
					margin-top: 5px;
				}
			}
		}
	}
}

//  TEACHER SINGLE PAGE

.teacher-single-page {
	margin-bottom: 44px;
	.teacher-coly {
		position: relative;
		> img {
			max-width: 100%;
		}
		.social-icons {
			text-align: center;
			position: relative;
			top: -25px;
			li {
				a {
					background:inherit;
					position: relative;
					z-index: 1;
					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						background:linear-gradient(to bottom, #fdc830, #f37335);
						height: 100%;
						z-index: -1;
						@include radius(50%);
						@include transition(all 0.4s ease-in-out);
					}
					@include transition(all 0.4s ease-in-out);
					&:hover {
						&:before {
							background:linear-gradient(to top, #fdc830, #f37335);
						}
					}
				}
			}
		}
	}
	.teacher-content {
		padding-left: 20px;
		box-sizing: border-box;
		> h3 {
			color: #f37335;
			font-size: 20px;
			font-style: italic;
			margin-bottom: 21px;
		}
		.rol-z {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-bottom: 25px;
			.rol-info {
				padding-left: 15px;
				box-sizing: border-box;
				h3 {
					color: #2b2b2b;
					font-size: 14px;
					margin-bottom: 3px;
				}
				span {
					display: block;
					color: #575757;
					font-size: 14px;
				}
			}
			&.style2 {
				.rol-info {
					h3 {
						font-size: 18px;
						color: #2b2b2b;
						line-height: 20px;
					}
				}
			}
		}
		p {
			color: #575757;
			font-size: 14px;
			line-height: 24px;
			margin-bottom: 33px;
			max-width: 600px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.tech-detils {
			max-width: 460px;
			background-color: #fff;
			border: 1px solid #e9723a;
			@include radius(20px);
			padding: 40px;
			margin-bottom: 25px;
			background-repeat: no-repeat;
			background-position: 4px 0;
			position: relative;
			overflow: hidden;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 145px;
				width: 48px;
				height: 24px;
				background-image: url(../../../resources/img/circle3.png);
				background-repeat: no-repeat;
			}
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				right: -7px;
				width: 73px;
				height: 71px;
				background-image: url(../../../resources/img/circle4.png);
				background-repeat: no-repeat;
			}
			li {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 13px;
				&:last-child {
					margin-bottom: 0;
				}
				h3 {
					display: inline-block;
					color: #575757;
					font-size: 14px;
					font-style: italic;
					width: 145px;
				}
				span {
					display: inline-block;
					color: #155799;
					font-size: 14px;
					font-style: italic;
					font-weight: 700;
				}
			}
		}
		.skills-tech {
			max-width: 600px;
			margin-bottom: 25px;
			> h3 {
				color: #2b2b2b;
				font-size: 20px;
				text-transform: capitalize;
				font-weight: 500;
				margin-bottom: 18px;
			}
			.progess-row {
				position: relative;
				margin-bottom: 13px;
				> span {
					color: #575757;
					font-size: 14px;
					position: absolute;
					top: 0;
					right: 0;
				}
				h3 {
					color: #2b2b2b;
					font-size: 14px;
					font-weight: 500;
					margin-bottom: 9px;
				}
				.progress {
					position: relative;
					height: 16px;
					@include radius(30px);
					.progress-bar {
						&.bg-clr1 {
							background-color: #f45905;
						}
						&.bg-clr2 {
							background-color: #155799;
						}
						&.bg-clr3 {
							background-color: #fdc830;
						}
						&.bg-clr4 {
							background-color: #159957;
						}
					}
				}
			}
		}
	}
}

.schedule-mobile-content {
	text-align: center;
	display: none;
	.ttb-list {
		h2 {
			color: #2b2b2b;
			font-size: 18px;
			background-color: #f2f7fd;
			padding: 15px 0;
		}
		> ul {
			li {
				display: block;
				.dd-info {
					background:linear-gradient(180deg,#fdc830,#f37335);
					padding: 35px 20px;
					h3 {
						color: #fff;
						font-size: 18px;
						line-height: 20px;
						font-weight: 600;
						margin-bottom: 18px;
					}
					> span {
						display: block;
						font-style: italic;
						font-family: $secondary-font;
						font-size: 18px;
						color: #fff;
					}
				}
				&:nth-child(even) {
					.dd-info {
						background:linear-gradient(180deg,#159957,#155799);
					}
				}
			}
		}
	}
}


//  RESPONSIVE

@media only screen and (max-width: 1366px) {
	.avt-img > img {width: 100%;}
	.error-page .error-text .btn-default {margin-bottom: 70px;}
	.error-page .page-title {font-size: 200px;}
}

@media only screen and (max-width: 1200px) {
	header .navigation-bar nav ul li {margin-right: 36px;}
	header .header-content .contact-add {flex: 0 0 67%;max-width: 67%;}
	.main-banner .banner-text > h2 {font-size: 54px;line-height: 72px;}
	.about-us-section {padding: 35px 0 100px;}
	.classes-section {padding-bottom: 50px;}
	.teachers-section {padding: 45px 0 70px;}
	.course-section .courses-list .course-card:nth-child(2) {left: -50px;}
	.course-section {padding-bottom: 70px;}
	.blog-section .blog-posts .blog-post .blog-info > h3 {font-size: 18px;}
	.blog-section {padding-bottom: 70px;}
	.newsletter-section .newsletter-sec {padding: 57px 50px 55px;}
	footer {padding: 219px 0 40px;}
	.meta li {margin-right: 5px;}
	.blog-section .blog-posts .blog-post .blog-info {padding: 0;}
	.newsletter-section .newsletter-sec .newsz-ltr-text > h2 {font-size: 30px;line-height: 44px;margin-bottom: 25px;}
	.about-page-content {padding: 90px 0 0;}
	.benifit-section {padding: 50px 0 40px;}
	.pager-section.blog-version {padding: 120px 0 150px;}
	.blog-section.posts-page .blog-posts .blog-post .blog-thumbnail .category {left: 0;}
	.masonary li.width6 {margin-top: 0;}
	.masonary li.width4 {margin-top: 0;}
	.masonary li.width3 {margin-top: 0;}
	.masonary li {margin-top: 0 !important;}
	.masonary li.width5 {padding-left: 19px;}
	.error-page .page-title {font-size: 160px;}
	.error-page .error-text h2  {font-size: 120px;}
	.error-page .error-text h3 {font-size: 40px;margin-bottom: 35px;}
	.teacher-single-page .teacher-content {padding-left: 0;}
	.teacher-single-page .teacher-content .rol-z .rol-info  {max-width: calc(100% - 50px);}
	.teacher-single-page .teacher-content .rol-z .rol-info span {padding-right: 10px;box-sizing: border-box;word-break: break-all;}
	.class-single-content h2 {font-size: 40px;line-height: 50px;}
	.class-sidebar {top: 0;}
	.pager-section .pager-content > h2 {font-size: 40px;line-height: 52px;}
	.search-content .teacher-col {margin-bottom: 50px;}
	.teacher-col .teacher-thumb img {width: 100%;}
	.schedule-page .schedule-content .schp-list li .mkd-info > h3 {font-size: 14px;line-height: 16px;}
	.schedule-page .schedule-content .schp-list li .mkd-info > span {font-size: 14px;}
}

@media only screen and (max-width: 991px) {
	header .header-content .contact-add {display: none !important;}
	header .navigation-bar {display: none !important;}
	.banner-img > img {max-width: 100%;}
	.main-section {background:#f2f7fd;}
	.main-banner .banner-text > h2 {font-size: 44px;line-height: 58px;}
	.about-us-section .about-sec .abt-col {margin-bottom: 30px;}
	.about-sec .row {margin-bottom: -30px;}
	.teachers-section .teachers .teacher .teacher-info {padding: 0;margin-top: 25px;}
	.teachers-section .teachers .teacher .teacher-info > h3 {font-size: 16px;}
	.course-img {display: none;}
	.course-section .courses-list .course-card:nth-child(2) {left: 0;}
	.course-section .courses-list {margin-top: 0;}
	.blog-post {margin-bottom: 50px;}
	.blog-posts .row {margin-bottom: -50px;}
	.newsz-ltr-text {text-align: center;margin-bottom: 50px;}
	.newsletter-section .newsletter-sec .newsletter-form {padding-left: 0;}
	.newsletter-section .newsletter-sec {border-radius: 10px;background:#fcbe31;}
	.newsletter-section .newsletter-sec .newsz-ltr-text > h2 {font-size: 40px;line-height: 54px;}
	.top-footer .widget {margin-bottom: 50px;}
	.top-footer .row {margin-bottom: -50px;}
	.about-us-section {padding: 70px 0 100px;}
	.menu-btn {display: block;}
	.pager-section .pager-content > h2 {font-size: 44px;}
	.pager-section .page-titlee {font-size: 100px;}
	.about-page-content .abt-page-row .section-title h2 {font-size: 34px;line-height: 46px;}
	.about-page-content .abt-page-row .row {margin-bottom: 60px;}
	.about-page-content .abt-page-row .row:last-child {margin-bottom: 0;}
	.page-content {padding: 100px 0;}
	.sidebar {margin-top: 60px;}
	.sidebar .widget-calendar .mdp-calendar table tbody td.active {border-radius: 20px;}
	.classes-page {padding: 100px 0;}
	.classes-page .classes-banner {padding: 90px 20px;}
	.mdp-contact .comment-area form .form-submit  {text-align: left;}
	.mdp-our-contacts {margin-top: 50px;}
	.pager-section.blog-version .pager-content > h2 {line-height: 52px;margin-bottom: 25px;}
	.pager-section.blog-version {padding: 100px 0;}
	.mdp-contact .comment-area {padding-right: 0;}
	.sidebar {max-width: 300px;}
	header .header-content {border-bottom: 0;}
	.about-page-content .act-inffo > h2 {font-size: 36px;}
	.pager-section {background: #f2f7fd;}
	.masonary li.width5 {padding-left: 9.5px;}
	.teacher-single-page .teacher-content p {max-width: 100%;}
	.teacher-single-page .teacher-coly {max-width: 400px;margin: 0 auto;}
	.sidebar.class-sidebar {margin-left: inherit;}
	.page-content.style2 {padding: 43px 0 100px;}
	.widget.widget-contact-dp.mdp-contact .mdp-our-contacts {margin-top: 0;}
	.schedule-page .nav-tabs li {margin-right: 15px;}
	.schedule-mobile-content {display: block;}
	.schedule-page .schedule-content {display: none;}
	.teacher-single-page .teacher-content .tech-detils {max-width: 100%;}
	.teacher-single-page .teacher-content .skills-tech {max-width: 100%;}
}


@media only screen and (max-width: 768px) {
	.banner-img {display: none;}
	.banner-text {text-align: center;}
	.main-banner .banner-text .search-form {max-width: 100%;}
	.main-banner .banner-text .search-form:before {right: -10px;}
	.section-title > h2 {font-size: 40px;}
	.sec-title > h2 {font-size: 40px;}
	.about-us-section {padding: 70px 0 70px;}
	.classes-section .sec-title {max-width: 75%;}
	.teachers-section {padding-top: 25px;}
	.teachers-section .section-title > h2 {font-size: 40px;line-height: 50px;}
	.teacher {margin-bottom: 30px;}
	.teachers {margin-bottom: -30px;}
	.teachers .row {margin-bottom: -30px;}
	.pager-section {padding: 45px 0 50px;}
	.about-page-content .abt-page-row {text-align: center;}
	.about-page-content .abt-page-row .row:nth-child(1) .col-lg-6:nth-child(1) {order: 1;}
	.avt-img {margin-bottom: 50px;}
	.about-page-content .abt-page-row .section-title h2 br {display: none;}
	.about-page-content .abt-page-row .section-title {margin-bottom: 0;}
	.blog-section.posts-page .blog-posts .blog-post .blog-info h3 {font-size: 28px;line-height: 40px;}
	.blog-section.posts-page .blog-posts .blog-post.quote-post {padding: 50px 20px 51px;}
	.classes-page .classes-banner > h2 {font-size: 36px;}
	.blog-post.single blockquote {padding: 55px 40px 60px;}
	.page-content.p80 {padding: 80px 0 100px;}
	.about-page-content .abt-page-row {text-align: left;}
	.elements-bg {display: none;}
	.sec-title>h2:before {display: none;}
	.main-banner .banner-text .search-form {max-width: 400px;margin: 0 auto;}
	.main-banner .banner-text p {max-width: 100%;}
	.main-banner .col-md-7 {max-width: 100%;flex: 0 0 100%;}
	.masonary li.width5 {padding-left: 0;}
	.masonary li.width3{margin-top: 0;}
	.masonary li.width5 {padding-left: 9.5px;}
	.error-page .error-text h3 {font-size: 28px;}
	.error-page .error-text .btn-default {margin-bottom: 50px;}
	.error-page {background:#f2f7fd;}
	.page-title {display: none;}
	.page-content .teachers-section .teachers .teacher {margin-bottom: 40px;}
	.page-content .teachers, .teachers .row {margin-bottom: -40px;}
	.page-content .teachers-section .section-title h2 {font-size: 34px;}
	.class-single-content h2 {font-size: 32px;line-height: 45px;}
	.class-gallery .row {margin: 0 -10px;}
	.class-gallery .row .col-md-3 {padding: 0 10px;}
	.pager-section .pager-content > h2 {font-size: 30px;line-height: 42px;}
	.pager-section .page-titlee {display: none;}
	.schedule-page .schedule-content .schedule-head li {width: 100%;}
	.schedule-page .schedule-content .shedule-list li {width: 100%;}
	.schedule-page .nav-tabs li {margin-bottom: 20px;}
	.schedule-page .nav-tabs {margin-bottom: 10px;}
	.page-content .teachers-section.teacher-page .section-title h2 {font-size: 32px;line-height: 44px;}
	.page-content .teachers-section.teacher-page .teachers .teacher {margin-bottom: 40px;}
	.schedule-content {display: none;}
}


@media only screen and (max-width: 576px) {
	.about-us-section .about-sec .abt-col {text-align: center;}
	.blog-posts  {text-align: center;}
	.sec-title {text-align: center;}
	footer {text-align: center;}
	footer .bottom-footer .social-links {text-align: center;margin-top: 20px;}
	footer .widget-contact ul li .contact-tt {max-width: 100%;width: 100%;margin-top: 20px;}
	.classes-section .sec-title {text-align: left;}
	.benifit-section {text-align: center;}
	.benifit-section .about-us-section .about-sec .row .col-lg-6:nth-child(2), .benifit-section .about-us-section .about-sec .row .col-lg-6:nth-child(4) {top: 0;position: static;}
	.pager-section .pager-content > h2 {font-size: 34px;}
	.page-content {padding: 70px 0;}
	.blog-section.posts-page .blog-posts .blog-post.without-title .blog-info p {font-size: 16px;}
	.blog-section.posts-page .blog-posts .blog-post .blog-info .chat-format li p {text-align: left; }
	.blog-section.posts-page .blog-posts .blog-post .blog-info .chat-format li > strong {text-align: left;}
	.blog-section.posts-page .blog-posts .blog-post .blog-info h3 {font-size: 24px;line-height: 33px;}
	.mdp-pagiation .pagination {justify-content: center;}
	.mdp-map iframe {height: 300px;}
	.mdp-contact .comment-area h3, .mdp-contact .mdp-our-contacts h3 {font-size: 30px;}
	.mdp-contact {text-align: center;}
	.mdp-contact .comment-area form .form-submit {text-align: center;}
	.mdp-contact .mdp-our-contacts .dd-cont {width: 100%;padding-left: 0;}
	.icon-v {width: 100%;margin-bottom: 20px;}
	.mdp-schedule-list .mdp-schedule > h3 {padding: 0 20px 10px;}
	.pager-section.blog-version .pager-content > h2 {line-height: 40px;}
	.pager-section.blog-version {padding: 70px 0;}
	.blog-post.single {text-align: center;}
	.mdp-post-comments ul li .mdp-comment .mdp-img {width: 100%;margin:0 auto;margin-bottom: 25px;}
	.mdp-post-comments ul li .mdp-comment .mdp-com {width: 100%;padding-left: 0;max-width: 100%;}
	.mdp-comment.d-flex.flex-wrap {display: block !important;text-align: center;}
	.mdp-post-comments ul li .mdp-comment .mdp-com .reply-btn {text-align: center;}
	.mdp-post-comments {margin-bottom: 50px;}
	.mdp-sub-title {text-align: center;font-size: 30px;}
	.blog-post.single {margin-bottom: 50px;}
	.blog-posts {text-align: left;}
	footer .widget-contact ul li {width: calc(100% / 2 - 20px);display: inline-block;}
	.error-page .error-text h2 {font-size: 90px;margin-bottom: 0;}
	.sidebar.class-sidebar {max-width: 100%;}
	.class-sidebar .widget-contact-dp .mdp-our-contacts .dd-cont {max-width: 100%;}
	.ordrd {margin-bottom: 15px;}
	.class-single-content .btn-default {margin-top: 30px;}
	.search-content.classes-page .classes-col .class-info  {margin-top: 30px;}
	.teacher--info {margin-top: 30px;text-align: center;}
	.search-content .blog-section .blog-posts .blog-post .blog-info {text-align: center;}
	.masonary li {width: calc(100% / 2) !important;height: auto !important;position: static !important;}
	.masonary {position: static !important;display: flex;flex-wrap: wrap;height: auto !important;}
	.masonary li.width4 img {width: 100%;height: auto;}
}


@media only screen and (max-width: 480px) {
	.main-banner .banner-text > h2 {padding-right: 0;font-size: 30px;line-height: 44px;margin-bottom: 20px;}
	.main-banner .banner-text p {margin-bottom: 40px;}
	.main-banner {padding: 50px 0;}
	.sec-title > h2, .section-title > h2, .teachers-section .section-title > h2 {font-size: 27px;line-height: 36px;}
	.classes-section .sec-title {text-align: center;max-width: 100%;margin-bottom: 70px;}
	.classes-carousel .slick-next, .classes-carousel .slick-prev {top: -40px;}
	.classes-carousel .slick-prev {right: auto;left: 15px;}
	.classes-carousel .slick-next {left: auto;right: 15px;}
	.full-wdth {flex: 0 0 100%;max-width: 100%;}
	.teachers {text-align: center;}
	.course-section .courses-list .course-card {text-align: center;}
	.course-meta {width: 100%;}
	.course-section .courses-list .course-card .course-meta + span {width: 100%;text-align: center;margin-top: 10px;}
	.posted-by {width: 100%;margin-bottom: 10px;}
	.course-section .courses-list .course-card .locat {margin-left: 0;width: 100%;text-align: center;}
	.course-section .courses-list .course-card::before {height: 166px;top: 50%;transform: translateY(-50%);}
	.course-section .courses-list .course-card > h3 {font-size: 18px;line-height: 25px;}
	.course-section .all-btn {float: none;width: 100%;text-align: center;}
	.newsletter-section .newsletter-sec {padding: 40px 20px 40px;}
	.newsletter-section .newsletter-sec .newsz-ltr-text > h2 {font-size: 30px;line-height: 44px;}
	.responsive-menu {width: 100%;}
	.about-page-content {padding: 60px 0 0;}
	.about-page-content .act-inffo > h2 {margin-top: 12px;font-size: 30px;}
	.benifit-section {padding: 25px 0 0;}
	.classes-sec .posted-by {width: auto;}
	.blog-section.posts-page .blog-posts .blog-post .blog-info h3 {font-size: 22px;}
	.blog-section.posts-page .blog-posts .blog-post .blog-info h3 {font-size: 20px;line-height: 28px;}
	.classes-page .classes-banner > h2 {font-size: 23px;}
	.classes-page .classes-banner {padding: 50px 20px;}
	.mdp-map iframe {height: 220px;}
	.mdp-schedule-list .mdp-schedule > h3 {font-size: 17px;}
	.mdp-schedule-list .mdp-schedule ul li > span {font-size: 14px;}
	.mdp-schedule-list .mdp-schedule ul li > strong {font-size: 14px;}
	.pager-section.blog-version .pager-content > h2 {font-size: 30px;margin-top: 10px;}
	.blog-post.single blockquote {padding: 55px 20px 60px;}
	.page-content.p80 {padding: 80px 0 70px;}
	body.scroll-hide {overflow: hidden;}
	.course-section .courses-list .course-card:before {display: none;}
	.course-section .courses-list .course-card {border-left: 4px solid #faad32;}
	footer .widget-contact ul li {width: 100%;display: block;}
	.masonary li {padding-left: 0 !important;}
	.error-page .error-text h2 {font-size: 70px;margin-bottom: -20px;}
	.error-page .error-text h3 {font-size: 18px;}
	.teacher-single-page .teacher-content .tech-detils li {display: block;text-align: center;}
	.teacher-single-page .teacher-content .tech-detils li span {display: block;margin-top: 10px;}
	.page-content .teachers-section .section-title h2 {font-size: 26px;}
	.class-single-content h2 {font-size: 24px;line-height: 35px;}
	.pager-section .pager-content > h2  {font-size: 23px;}
	.sg-event {margin-top: 20px;margin-bottom: 20px;}
	.search-content.classes-page .classes-col .class-info {text-align: center;}
	.classes-section .classes-col .class-info .price {margin: 0 auto;}
	.schedule-page .nav-tabs li {width: 100%;}
	.schedule-page .nav-tabs li a {width: 100%;text-align: center;}
	.teacher-single-page .teacher-content .tech-detils {background:#fff;}
	.schedule-mobile-content .ttb-list > ul li .dd-info h3 {line-height: 24px;}
}


